.about_section{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.info_section{
    height: 90%;
    width: 100%;
    margin: 20px 0;
}

.main_info{
    display: flex;
    margin-top: 50px;
}

.feature{
    margin: 50px 0;
    width: 400px;
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}

.feature h3{
    margin: 5px 0;
}

.feature h3::before{
}

.feature h3{
}