body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero{
  height: 100vh;
  background-image: url('/src/Components/Assets/background.svg');
}
